
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
          <div>
            <div class="card py-3 px-3">
              <div class="card-body">

                    
                <form>   
                    <div class="row justify-content-end">
                        <button class="btn-circle my-2" style="float: right; align-items: flex-end;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg>
                          </button>
                    </div>
                    
                    <div class="row">
                        <div class="col-12">
                            <div class="m-2 formText">
                                Pregunta
                            </div>  
                            <div >
                              <input type="text" class="form-control" id="Question" placeholder="Escriba la pregunta">
                            </div>
                        </div>                            
                    </div>

                    <div class="container" style="height: 20px;"></div>

                    <div class="row">
                        <div class="col-9">
                            <div class="m-2 formText">
                                Opción A
                            </div>
                        </div> 
                        <div class="col-3">
                            <div class="m-0 formText" style="text-align: center;">
                                Elija la opción correcta
                            </div>
                        </div> 

                    </div>

                    <div class="radio-buttons">
                        <div class="row">
                            <div class="col-9">
                                <input type="text" class="form-control " id="opcion1" placeholder="Escriba la opción">                    
                            </div>
                            <div class="col-3 py-2">
                                <div class="radio-button" style="text-align: center;">
                                    <input style="height: 50;" type="radio" id="radio1" name="radios" value="opcion1">                               
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-9">
                                <div class="m-2 formText">
                                    Opción B
                                </div>
                            </div>                            
                        </div>
                           

                        <div class="row">
                            <div class="col-9">
                                <input type="text" class="form-control " id="opcion2" placeholder="Escriba la opción">                    
                            </div>
                            <div class="col-3 py-2">
                                <div class="radio-button"  style="text-align: center;">
                                    <input style="height: 50;" type="radio" id="radio2" name="radios" value="opcion2">                               
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-9">
                                <div class="m-2 formText">
                                    Opción C
                                </div>
                            </div>                            
                        </div>

                        <div class="row">
                            <div class="col-9">
                                <input type="text" class="form-control " id="opcion3" placeholder="Escriba la opción">                    
                            </div>
                            <div class="col-3 py-2">
                                <div class="radio-button"  style="text-align: center;">
                                    <input style="height: 50;" type="radio" id="radio3" name="radios" value="opcion3">                               
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-9">
                                <div class="m-2 formText">
                                    Opción D
                                </div>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <input type="text" class="form-control " id="opcion4" placeholder="Escriba la opción">                    
                            </div>
                            <div class="col-3 py-2">
                                <div class="radio-button"  style="text-align: center;">
                                    <input style="height: 50;" type="radio" id="radio4" name="radios" value="opcion4">                               
                                </div>
                            </div>
                        </div>
                       
                    </div>
                  
                  <div >
                    <button type="submit" class="btn btn-primary btn-lg px-5 my-4" id="btnGuardar">Guardar</button>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
