
body {
    
  background-color: #ffa600;
  min-height: calc(100vh - 10px); /* Establece la altura mínima igual a la altura de la ventana menos 50px */
  
  box-sizing: border-box; /* Incluye el relleno en la altura total del contenedor */
  }
  .img-thumbnail {
    padding: 0.25rem;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.btn-primary {
    background-color: #3D5057;
    border: none;
    font-weight: bold;
    border-radius: 10px;
  }
  #btnIngresar:active,
  #btnIngresar:focus {
    background-color: #DC8127; /* Naranja */
    border-color: #DC8127; /* Color del borde si deseas cambiarlo también */
    border: 3px solid  #3D5057; /* Borde negro de 1 píxel */
    border-radius: 28px;
  }
 
  .btn-secondary {
    font-weight: bold;
    font-size: 12px;
  }
