
body {
    
    background-color: #ffa600;
    /*height: 100vh;*/
    margin: 0;
    padding: 0;
  }
  .img-thumbnail {
    padding: 0.25rem;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.btn-primary {
    background-color: #3D5057;
    border: none;
    font-weight: bold;
    border-radius: 10px;
  }

  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:focus
  {
    background-color: #DC8127; /* Naranja */
    border-color: #DC8127; /* Color del borde si deseas cambiarlo también */
    border: 3px solid  #3D5057; /* Borde negro de 1 píxel */
    
  }
  
  


  #btnIngresar:active,
  #btnIngresar:focus {
    background-color: #DC8127; /* Naranja */
    border-color: #DC8127; /* Color del borde si deseas cambiarlo también */
    border: 3px solid  #3D5057; /* Borde negro de 1 píxel */
    border-radius: 28px;
  }
 
  .btn-secondary {
    font-weight: bold;
    font-size: 12px;
  }

  .card {
    border-radius: 35px;
  }

  .card p {
    color: white;
  }
