<div class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-primary btn-sm px-2" (click)="decrement()">-</button>
    </span>
    <div class="px-3">{{number}}</div>
    <span class="input-group-btn">
      <button class="btn btn-primary btn-sm px-2" (click)="increment()">+</button>
    </span>
  </div>

 <div>{{countdown}}</div>

 <div>
    <div>
        <p>{{ question }}</p>
        <ul>
          <li *ngFor="let option of options">
            <button (click)="checkAnswer(option)">{{ option }}</button>
          </li>
        </ul>
        <p>Temporizador principal: {{ countdown }} segundos</p>
        
      </div>